{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Registrar Unidad</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="container mt-5">
    <header>
      <h1 class="text-center text-danger my-3">
        Bienvenido a CITYTOUR CATAMARCA
      </h1>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand text-white fw-bold" href="{% url 'inicio' %}">
            CITYTUR
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'recorridos' %}">
                  Registro de recorridos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reservas' %}">
                  Registro de reserva
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registrar_unidad' %}">
                  Registrar unidad
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registrar_itinerario' %}">
                  Registrar itinerarios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'puntos_destacados' %}">
                  Registrar Puntos Destacados
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <h2>Registrar nueva unidad</h2>

    <form method="post" class="mb-4">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Guardar Unidad</button>
    </form>

    <h4>Unidades existentes</h4>
    <ul>
      {% for u in unidades %}
      <li>{{ u.patente }} - {{ u.get_estado_vehiculo_display }}</li>
      {% empty %}
      <li>No hay unidades registradas</li>
      {% endfor %}
    </ul>

    <footer class="text-center p-3 bg-dark text-white mt-auto">
      Sitio Oficial de
      <a class="text-white fw-bold" href="{% url 'inicio' %}">
        CITYTUR CATAMARCA - 2025
      </a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
