{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Registro de Usuario</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="d-flex flex-column min-vh-100 bg-light">
    <header>
      <h1 class="text-center text-danger my-3">CITYTOUR CATAMARCA</h1>
    </header>

    <main class="container my-5 flex-grow-1">
      <section class="card shadow p-4 mx-auto" style="max-width: 500px">
        <h2 class="text-center mb-3">Crear una cuenta</h2>

        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>

        <p class="text-center mt-3">
          ¿Ya tenés cuenta?
          <a href="{% url 'login' %}" class="text-decoration-none">
            Iniciá sesión
          </a>
        </p>
      </section>
    </main>

    <footer class="text-center p-3 bg-dark text-white mt-auto">
      Sitio Oficial de CITYTOUR CATAMARCA - 2025
    </footer>
  </body>
</html>
