{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Generar informes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="container my-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand text-white fw-bold" href="{% url 'inicio' %}">
            CITYTOUR
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mb-2 mb-lg-0">
              {% if user.rol == "ADMIN" or user.rol == "OPERADOR" %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'informes' %}">
                  Informes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'recorridos' %}">
                  Registro de recorridos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registrar_unidad' %}">
                  Registrar unidad
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registrar_itinerario' %}">
                  Registrar itinerarios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'puntos_destacados' %}">
                  Registrar Puntos Destacados
                </a>
              </li>
              {% endif %} {% if user.rol == "TURISTA" or user.rol == "ADMIN" %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reservas' %}">
                  Realizar reserva
                </a>
              </li>

              <li class="nav-item">
                <span class="nav-link text-info fw-bold">
                  Hola, {{ user.nombre }}
                </span>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link text-danger fw-bold"
                  href="{% url 'logout' %}"
                >
                  Cerrar sesión
                </a>
              </li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    <h1 class="text-center text-danger mb-4">Generar Informes</h1>

    <div class="list-group">
      <a
        href="{% url 'informe_recorridos_activos' %}"
        class="list-group-item list-group-item-action"
      >
        Generar informe de recorridos activos
      </a>
      <a
        href="{% url 'informe_reservas_por_recorrido' %}"
        class="list-group-item list-group-item-action"
      >
        Listado de reservas por recorrido
      </a>
      <a
        href="{% url 'informe_pasajeros_por_viaje' %}"
        class="list-group-item list-group-item-action"
      >
        Estadísticas de cantidad de pasajeros por viaje
      </a>
        <a class="list-group-item list-group-item-action" href="{% url 'informe_puntos_mas_visitados' %}">
          Informe de Puntos Turísticos más Visitados
        </a>
    </div>
  </body>
</html>
